<h2>Quiz - {{ questions.first.language }}</h2>
<form method="post">
    {% csrf_token %}
    {% for question in questions %}
        <h3>{{ question.question_text }}</h3>
        <input type="radio" name="answers" value="{{ question.correct_answer }}">{{ question.option_1 }}<br>
        <input type="radio" name="answers" value="{{ question.correct_answer }}">{{ question.option_2 }}<br>
        <input type="radio" name="answers" value="{{ question.correct_answer }}">{{ question.option_3 }}<br>
        <input type="radio" name="answers" value="{{ question.correct_answer }}">{{ question.option_4 }}<br>
    {% endfor %}
    <button type="submit">Submit</button>
</form>
