{% load tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% tailwind_css %}

</head>

<body>
  <div class="h-screen flex justify-center items-center">
    <div class="quiz-content bg-white rounded-lg shadow-lg p-2 max-w-xl w-full">
      <div class="center">
        <h1 class="text-2xl text-center py-2 text-green-400 underline">Reset Sent</h1>

        <center>
          <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email. Please note
            that it <b>expires in 10 minutes</b>!</div>
        </center>

      </div>
    </div>
  </div>
</body></html>
