{% load tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}

</head>

<body>

<div class="h-screen flex justify-center items-center">
    <div class="quiz-content bg-white rounded-lg shadow-lg p-2 max-w-xl w-full">
        <div class="text-center">
            <h1 class="text-2xl text-center py-2 text-green-400 underline">Reset Password</h1>

            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <center>
                <h4 style="color: firebrick;">{{message}}</h4>
            </center>
            {% else %}
            <center>
                <h4 style="color: dodgerblue;">{{message}}</h4>
            </center>
            {% endif %}
            {% endfor %}
            {% endif %}

            <form method="POST" class="p-4">

                {% csrf_token %}

                <div class="txt_field">
                    <label class="block text-black text-sm text-center">Password</label>
                    <input type="password" class="w-10/12 mb-2 border-gray-300 rounded" required name="password">
                 
                </div>

                <div class="txt_field">
                    <label class="block text-black text-sm text-center">Confirm Password</label>
                    <input type="password" class="w-10/12 mb-2 border-gray-300 rounded" required name="confirm_password">
                </div>

                <input type="submit" value="Reset Password" class="p-2 bg-green-500 w-10/12 rounded cursor-pointer">
                <div class="signup_link">
                    Remember your password? <a href="{% url 'login' %}" class="text-blue-600 underline">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
